* {
  box-sizing: border-box;
}

body {
	background: #171717;
  color: #c4c4c4;
}

body, 
main, 
header, 
div, 
table, 
ul, 
li,
p,
h1,h2,h3,h4,h5,h5
span,
form,
button,
label,
input {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}
